.env
composer.lock

bootstrap/cache/
node_modules/

vendor/*
!vendor/laravel/framework/src/Illuminate/Auth/Notifications/ResetPassword.php

public/hot
public/storage


storage/app/attachments
storage/app/public/cache
storage/app/purifier
storage/app/public/tmp

storage/debugbar

storage/framework/
storage/logs
storage/uploaded_docs

storage/*.key

/.idea
/.vscode
/nbproject
/.vagrant
.directory
.editorconfig

*.code-workspace
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log





