
$navbar-lighten:15%;

//Theme Indigo
$theme-indigo: #3F51B5;
$theme-indigo-legal-bg: #fff;
$theme-indigo-bar: #fff;
$theme-indigo-navbar-brand: #fff;
$theme-indigo-navbar-brand_active: #fff;
$theme-indigo-navbar-brand_hover: #fff;
$theme-indigo-navbar-brand_focus: #fff;
$theme-indigo-nav-anchor: #fff;
$theme-indigo-nav-anchor_hover: rgba(0,0,0,0);
$theme-indigo-nav-anchor_focus: rgba(0,0,0,0);
$theme-indigo-nav-anchor-opened: rgba(0,0,0,0);
$theme-indigo-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-indigo-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-indigo-menu-list-active: rgba(0,0,0,0);
$theme-indigo-menu-list-toggled: rgba(0,0,0,0);
$theme-indigo-menu-list-submenu: rgba(0,0,0,0);

//Theme Italgas
$theme-italgas: #0096dc;
$theme-italgas-legal-bg: #fff;
$theme-italgas-bar: #fff;
$theme-italgas-navbar-brand: #fff;
$theme-italgas-navbar-brand_active: #fff;
$theme-italgas-navbar-brand_hover: #fff;
$theme-italgas-navbar-brand_focus: #fff;
$theme-italgas-nav-anchor: #fff;
$theme-italgas-nav-anchor_hover: rgba(0,0,0,0);
$theme-italgas-nav-anchor_focus: rgba(0,0,0,0);
$theme-italgas-nav-anchor-opened: rgba(0,0,0,0);
$theme-italgas-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-italgas-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-italgas-menu-list-active: rgba(0,0,0,0);
$theme-italgas-menu-list-toggled: rgba(0,0,0,0);
$theme-italgas-menu-list-submenu: rgba(0,0,0,0);